body {
    margin:0px;
    padding: 0px;
}
.inline-block {
    display: flex;
    flex-direction: row;
    vertical-align: top;
    width: 100%;
    justify-content: space-between;  
 }
.logo {
    padding:1%;
    padding-left: 50px;    
    text-align: center;
}
.navItems {
 padding: 10px;
 padding-right: 75px;
 display:flex;
 flex-direction: column;
 color:white;
}
.navContainer {
    display: flex;
    align-items: center;  
    padding-right:50px;
}
.navigation {
    width: 100vw;
    background-color: black;
}
.hero {
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-around;
    background-color: black;  
}
.content {
    align-items: flex-start;
}
.heroImg {
    /*background-color: black;*/
   padding-right: 50px;
}
.content h1 {
    color: white;
    font-size: 44px;
  }
.content p {
    color: white;
    font-size: 20px;
}

.btnResume {
    width: 272px;
    height: 63px;
    border: solid;
    border-color: red;
    background-color:black;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

.btnResume:hover { 
    color:red;
}
.footer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    vertical-align: top;
    width: 100%;
    justify-content: center;
    
}

.footerItems {
   padding-top: 10px;
    padding-right: 50px;
 }